<header style="background-color: aliceblue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="col-md-1" style="color:gray"><a href="/">SLiPP</a></h4>
          {{^sessionedUser}}
          <strong><a href="/users/loginForm">로그인</a></strong>&nbsp;&nbsp;
          <strong><a href="/users/form">회원가입</a></strong>
          {{/sessionedUser}}
          {{#sessionedUser}}
          <strong><a href="/users/logout">로그아웃</a></strong>&nbsp;&nbsp;
          <strong><a href="/users/{{id}}/form">정보수정</a></strong>
          {{/sessionedUser}}
          
        </div>
      </div>
    </div>
  </header>
  <!-- HEADER END-->

  <!-- LOGO HEADER END-->
  <section class="menu-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="navbar-collapse collapse ">
            <ul id="menu-top" class="nav navbar-nav navbar-right">
              <li><a href="/users">사용자리스트</a></li>
              <li><a href="ui.html">UI Elements</a></li>
              <li><a href="table.html">Data Tables</a></li>
              <li><a href="forms.html">Forms</a></li>
              <li><a href="login.html">Login Page</a></li>
              <li><a href="blank.html">Blank Page</a></li>

            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- MENU SECTION END-->